<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="30" android:versionName="11" android:compileSdkVersion="30" android:compileSdkVersionCodename="11" coreApp="true" package="com.android.systemui.overlay.common" platformBuildVersionCode="30" platformBuildVersionName="11">
    <application android:extractNativeLibs="false"/>
    <uses-sdk android:minSdkVersion="30" android:targetSdkVersion="30"/>
    <overlay android:targetPackage="com.android.systemui" android:isStatic="true"/>
</manifest>
