<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="30" android:versionName="11" android:compileSdkVersion="30" android:compileSdkVersionCodename="11" package="oplus.frameworkres.overlay.display.product" platformBuildVersionCode="30" platformBuildVersionName="11">
    <uses-sdk android:minSdkVersion="30" android:targetSdkVersion="30"/>
    <application android:allowBackup="false" android:extractNativeLibs="false"/>
    <overlay android:priority="1000" android:targetPackage="oplus" android:isStatic="true"/>
</manifest>
